@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --yellow: #ffcc00;
  --header-bottom-border: #434343;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #2a2a29;
    --background-end-rgb: #1c1c1c;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      var(--background-start-rgb),
      var(--background-end-rgb));

  /*

    CSS dark magic for avoiding the gradient 
    getting tiled in the background 
  
    https://stackoverflow.com/a/39344724 
    
  */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}