<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="/assets/images/bullet.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/codedecorator.js' | relative_url }}"></script>
    <script type="text/javascript">
      window.MathJax = {
        tex : {
          packages: ['base', 'ams', 'color']
        },
        loader: {
          load: ['ui/menu', '[tex]/ams', '[tex]/color']
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="header">
        <nav>
        <div class="nav_container">
            <div class="round_profile"> 
              <img src="/assets/images/Antonio.png" 
              alt="Profile picture for the author; it is a portrait of the author in pixelart">
            </div>
            <a href="/" class="title">
                {{ site.title }}
            </a>
            <div class="subtitle hide-for-mobile"> the blog of a clueless computer scientist learning stuff </div>
          </div>
        </nav>
    </div>
    <div class="body-wrapper">
      <section>

        {{ content }}

      </section>
    </div>
    <div class="body-wrapper" id="title">
      <span class="credits left">Project maintained by <a href="https://github.com/aslynatilla">Antonio Natilla</a></span>
    </div>
  </body>
</html>
